
.box-shadow {
  @include boxshadow;
  @include textShadow;
}
#mixin-button {
@include animation1;
}

#email {
  width: 50%;
 
}
#number {
  width: 60%;
}
#comments {
  width: 60%;   
}
h1 {
  color: $darkgreen;
}
p b {
  color: $blue;
}
ul {
  li {
      color: red;
      }
}

$myColor: purple;

pre {
  i {
    color: $myColor;
  }
}
$moviePoster: url("Ns.jpg");
.bg-image {
    background-image: $moviePoster;
}
.height {
  height: 100%;
}
.width {
  width: 200%;
}