#email {
  width: 50%;
}

#number {
  width: 60%;
}

#comments {
  width: 60%;
}

h1 {
  color: rgb(8, 65, 8);
}

p b {
  color: rgb(13, 13, 230);
}

ul li {
  color: red;
}

pre {
  color: rgb(207, 15, 207);
}

.bg-image {
  background-image: url("Ns.jpg");
}

.height {
  height: 200%;
}

.width {
  width: 200%;
}

@font-face {
  font-family: "Halloween-fonts";
  src: url(Halloween-fonts.jpg);
}
.opacity {
  opacity: 0.9;
}